{% set moduleName = 'u4m-event-banner' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center {{ module.module_overrides.container_size }}" >

	<div class="eventsbanner_inner">
		<div class="eventsbanner_content">
			<h6 class="eyebrow_tex event_date">
				{{ content.publish_date_local_time|datetimeformat('%B') }} {% set day = content.publish_date_local_time|datetimeformat('%e') %}
				{% if day >= 4 and day <= 20 %}
				{% set day = day + "th" %}
				{% elif day >= 24 and day <= 30 %}
				{% set day = day + "th" %}
				{% elif day == 1 or day == 21 or day == 31 %}
				{% set day = day + "st" %}
				{% elif day == 2 or day == 22 %}
				{% set day = day + "nd" %}
				{% elif day == 3 or day == 23 %}
				{% set day = day + "rd" %}
				{% endif %}
				{{ day }}, {{ content.publish_date_local_time|datetimeformat('%Y')}}
			</h6>
			<h1 class="banner_tirtle">
				{{content.name}}
			</h1>

			<div class="event_bnr_desc">
				{{ module.description }}
			</div>
			<h6 class="eyebrow_author event_date">
				By {{content.blog_post_author.display_name}}
			</h6>
		</div>
		{% if module.select_audio_file %}
		<div class="audio-player_wrapper">

			<div class="audio-player">
				<div class="play-btn"  id="playBtn">
					<span class="playIcon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
						<path d="M13 7.5L4 13.125L4 1.875L13 7.5Z" stroke="white" stroke-width="2" stroke-linejoin="round"/>
						</svg></span>
					<span class="pauseIcon">
						<svg id="pauseIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
							<rect x="6" y="4" width="4" height="16"></rect>
							<rect x="14" y="4" width="4" height="16"></rect>
						</svg>
					</span>
				</div>
				<div class="audio-title">{{content.name|striptags}}</div>
				<div class="right-side">
					<div class="volume-icon"  id="volumeIcon">
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><g clip-path="url(#clip0_198_1624)"><path d="M8.25 0.75C10.125 1.875 11.25 3.75 11.25 6C11.25 8.25 10.125 10.125 8.25 11.25M7.5 3.75C9 4.875 9 7.125 7.5 8.25M0.75 3.75V8.25H2.25L5.25 11.25V0.75L2.25 3.75H0.75Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_198_1624"><rect width="12" height="12" fill="white"/></clipPath></defs></svg>
					</div>
					<div class="duration" id="duration"></div>
				</div>
			</div> 

			<audio id="audio" src="{{ module.select_audio_file }}"></audio>


		</div>
		{% endif %}
	</div>

</div>
</section>


{% if module.select_audio_file %}
{% require_js %}
<script>

	document.addEventListener("DOMContentLoaded", (event) => {

		function loadAutioPlayer(){
			const audio = document.getElementById('audio');
			const playBtn = document.getElementById('playBtn');
			const volumeIcon = document.getElementById('volumeIcon');
			playBtn.addEventListener('click', () => {
				if (audio.paused) {
					audio.play();
					// 					playBtn.innerHTML = '❚❚';
					playBtn.classList.add('playBtn');
				} else {
					audio.pause();
					// 					playBtn.innerHTML = '';
					playBtn.classList.remove('playBtn');
				}
			});

			volumeIcon.addEventListener('click', () => {
				audio.muted = !audio.muted;
			});

			function setDuration() {
				if (audio.duration && !isNaN(audio.duration)) {
					const minutes = Math.floor(audio.duration / 60);
					const seconds = Math.floor(audio.duration % 60).toString().padStart(2, '0');
					document.getElementById('duration').textContent = `${minutes}:${seconds}`;
				}
			}
			audio.addEventListener('loadedmetadata', setDuration);
			setTimeout(setDuration, 1000); 
		}

		setTimeout(function(){
			loadAutioPlayer()
		}, 200)

	});

</script>
{% end_require_js %}

{% endif %}


