<!--
 templateType: blog_post
 isAvailableForNewContent: true
 label: SOHS - Blog Post
-->
{% extends "./base.html" %} {% block body %}



<main id="main-content" class="hs-post-page-body">
	<div class="post_banner_wrapper">
		{% module "post_banner" path="../modules/u4m-post-page-banner", label="u4m-post-page-banner" %}
	</div>
	<div class="post_body_wrapper">
		<div class="content-wrapper">
			<div class="section post-body">
				{{ content.post_body }}
			</div>
		</div>
	</div>


</main>


{% endblock body %}
