<!--
  templateType: page
  isAvailableForNewContent: true
  label: SOHS - Landing Page
  screenshotPath: images/u4-landing-page.jpg
-->
{% extends './base.html' %} 

{% block header %}
  {% global_partial path='./partials/u4m-header-no-navigation.html' %}
{% endblock header %}

{% block body %}
  <main id="main-content">
 {% dnd_area "unified4_dnd_area" full_width=true%}
  {% end_dnd_area %} 
  </main>
{% endblock body %}

{% block footer %}
{% global_partial path='./partials/u4m-footer-no-navigation.html' %}
{% endblock footer %}