<!--
 templateType: global_partial
 label: Header
 -->
<div class="hdr">
	<div class="inner_hdr">
		<div class="page-center">
			<div class="top_content">
				<div class="logo">	
					{% module "hdr_logo" path="@hubspot/logo",  label="Logo",  img={ src={{ get_asset_url('../../templates/images/Header Logo.png') }}, width=984, override_inherited_src=true, alt="Logo"  }, link="/"  %}
				</div>
				<div class="cst-humburger-icon">
					<span class="trigger"></span>
					<span class="trigger"></span>
					<span class="trigger"></span>
				</div>
			</div>
			<div class="btm_content"> 
				<div class="flx">
					<div class="menu">
						{% module "hdr_menu" path="@hubspot/menu" , id=190913624091 , label="Menu",flyouts=false%}
					</div>
					<div class="btn">
						{% module "btns" path="../../modules/u4m-header-buttons", label="Button Group",
	 button_group=[ {
						"button_theme" : "hs-button",
						"icon_field" : { },
						"icon_type" : "image",
						"image" : {
							"alt" : "stars",
							"height" : 32,
							"loading" : "lazy",
							"max_height" : 32,
							"max_width" : 33,
							"size_type" : "auto",
							"src" : "https://23543895.fs1.hubspotusercontent-na1.net/hubfs/23543895/SOHS-u4m/images/stars.png",
							"width" : 33
						},
						"link_field" : {
							"no_follow" : false,
							"open_in_new_tab" : false,
							"url" : {
								"href" : "",
								"type" : "EXTERNAL"
							}
						},
						"text" : "Talk to the report"
					}, {
						"button_theme" : "hs-sec-btn",
						"icon_field" : { },
						"icon_type" : "image",
						"image" : {
							"alt" : "arrow",
							"height" : 14,
							"loading" : "lazy",
							"max_height" : 14,
							"max_width" : 14,
							"size_type" : "auto",
							"src" : "https://23543895.fs1.hubspotusercontent-na1.net/hubfs/23543895/SOHS-u4m/images/arrow.png",
							"width" : 14
						},
						"link_field" : {
							"no_follow" : false,
							"open_in_new_tab" : false,
							"url" : {
								"href" : "",
								"type" : "EXTERNAL"
							}
						},
						"text" : "new breed"
					} ]%}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





