@import "../../css/_module-imports";

.u4m-intro-section {
    .intro_content {
        margin-bottom: 0px;

        .intro_btn_wrap {
            margin-top: 25px;
        }

        .intro_title {
            margin-bottom: 25px;
        }
    }
}