<!--
 templateType: page
 isAvailableForNewContent: false
-->  

{% macro buttonGroup(items)%}
{% if items %}
<div class="intro_btn_wrap">
	{% for item in items %}
	<div class="btn_item">
		{% if item.button_type == "std" %}
		{% set href = item.link.url.href %}
		{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class=" {{ item.button_style ? item.button_style : "hs-button" }}"
			 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" 
			 {% else %}
			 href="{{ href }}"
			 {% endif %}
			 {% if item.link.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link.rel %}
			 rel="{{ item.link.rel }}"
			 {% endif %}>
			<span>{{ item.button_text }}</span> 
		</a>
		{% endif %}
		{% if item.button_type == "cta" %}
		{% cta guid="{{ item.cta }}" %}
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro singlebuttonGroup(item)%}
{% if item %}
<div class="intro_btn_wrap">
	<div class="btn_item">
		{% if item.button_type == "std" %}
		{% set href = item.link.url.href %}
		{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class="{{ item.button_style ? item.button_style : "hs-button" }} "
			 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" 
			 {% else %}
			 href="{{ href }}"
			 {% endif %}
			 {% if item.link.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link.rel %}
			 rel="{{ item.link.rel }}"
			 {% endif %}>
			<span>{{ item.button_text }}</span> 
		</a>
		{% endif %}
		{% if item.button_type == "cta" %}
		{% cta guid="{{ item.cta }}" %}
		{% endif %}
	</div>
</div>
{% endif %}
{% endmacro%}

{% macro introGroup(group, settings, overrides)%}
{% if group.include_eyebrow_text or group.include_heading or group.include_content or  group.include_button%}
<div class="intro_content {% if settings %}{{settings.intro_content_alignment}}{% endif %}">

	<div class="intro__inner ">
		{% if group.include_eyebrow_text%}
		<div class="eyebrow_text">
			{{ group.eyebrow_text }}
		</div>
		{% endif %}

		{% if group.include_heading %}
		<{{group.heading_size}} class="intro_title 		{% if group.include_heading_border %}hd_border{% endif %}">{{ group.heading }}{% if group.include_heading_border %}<span></span>{% endif %}</{{group.heading_size}}>
			{% endif %}
			{% if group.include_subheading %}
			<div class="subheading">
		{{ group.subheading }}
	</div>
	{% endif %}

	{% if group.include_content %}
	<div class="intro_desc {{ group.content_style }} {{settings.select_content_bg_color}}">
		{{ group.content }}
	</div>
	{% endif %}

	{% if group.include_button %}
	{{buttonGroup(group.button_group) }} 
	{% endif %}



</div>
</div>
{% endif %}
{% endmacro%} 


