@import "../../css/_module-imports";

.u4m-hero {
    padding-left: 105rem;
    padding-right: 105rem;

    @include laptop {
        padding-left: 50rem;
        padding-right: 50rem;
    }

    @include tabletMid {
        padding-left: 30rem;
        padding-right: 30rem;
    }

    @include tabletvert {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .bg_overlay {
        border: 0.75px solid $white;
        border-radius: 15px;
        overflow: hidden;
        background-repeat: no-repeat;
    }

    .intro_content {
        .eyebrow_text {
            color: $SunbeamYellow !important;
            font-weight: 800;
            @include size12;
            line-height: 1;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 12rem;
        }

        @include tabletMin {
            h1.intro_title {
                line-height: 1.22222222;
            }
        }

        .intro_title {
            margin-bottom: 12rem;
        }

        .intro_btn_wrap {
            margin-top: 53rem;
        }
    }
}