<div class="u4m-header-buttons">
	{% for item in module.button_group %}
	<div class="innerCnt">
		{% set href = item.link_field.url.href %}
		{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class="{{ item.button_theme }}"
			 {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
			 {% else %}
			 href="{{ href|escape_url }}"
			 {% endif %}
			 {% if item.link_field.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link_field.rel %}
			 rel="{{ item.link_field.rel|escape_attr }}"
			 {% endif %}
			 >
			<span>{{ item.text }}</span>
			{% if item.icon_type == "image"%}
			<span class="icon img" {% if item.button_theme=="hs-button"%}style="mask-image:url({{ item.image.src }})"{% endif %}>
				{% if item.image.src %}
				<img src="{{ item.image.src }}" alt="{{ item.image.alt }}">
				{% endif %}
			</span>
			{% elif item.icon_type == "icon"%}
			<span class="icon">
				{% icon
		name="{{ item.icon_field.name }}"
		style="{{ item.icon_field.type }}"
		unicode="{{ item.icon_field.unicode }}"
		icon_set="{{ item.icon_field.icon_set }}"
	%}
			</span>
			{% endif %}
		</a>
	</div>
	{% endfor %}
</div>
