// Colors - For transparency use rgba($action1, 0.5) = 50% opaque
$action1: #733bf7;
$action2: #00a4bd;
$black: #000000;
$white: #ffffff;
$gray1: #edf0f2;
$gray2: #cbd6e2;
$gray3: #7c98b6;
$purple: #733bf6;
$lightturquoise: #94eff6;
$green: #3ad531;
$SunbeamYellow: #fdf891;
$MidGray: #afb2ad;
$ice: #edf5fc;
$LavenderPurple: #ab89fa;
$charcoal: #373a36;

$lightblack: rgba($black, 0.4);
$gradient1: linear-gradient(-45deg, $black 0%, $action2 50%);
$font1: "proxima-nova";
$font2: "Menlo";
$baseFontSize: 18rem;
$baseLineHeight: 1.38; // Golden ratio
// Border Radius
$border1: 3rem;
$border2: 5rem;
$border3: 10rem;
// Shadow
$shadow1: 0rem 1rem 12rem 0 rgba($black, 0.1);
$shadow2: 0 5rem 25rem 0 rgba($black, 0.2);
$shadow3: 0 10rem 50rem 0 rgba($black, 0.3);
$textShadow1: 0 0 4rem rgba($black, 0.15);
// Animation
$animation1: 0.1s ease-in;
$animation2: 0.25s ease-in;
$animation3: 1s ease-in;
