{% set moduleName = 'u4m-content-cards' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center {{ module.module_overrides.container_size }}" >

	{{ macros.introGroup(module.intro_content, module.module_settings) }} 

	<div class="cards_list">
		<div class="flex_row">

			{% if module.select_content_type == "custom" %}
			{% for item in module.card_group %}
			{% set href = item.link.url.href %}
			{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
			{% set href = "mailto:" + href %}
			{% endif %}
			<div class="card_item {% cycle "odd","even"%} card{{loop.index}}">
				<div class="card_item_inner ">
					<div class="card_row {{ module.module_settings.card_theme_group.background_color }} {% if module.module_settings.card_theme_group.dark_theme %}lightCnt{% endif %}">
						{% if item.include_overlay_link %}
						{% set href = item.overlay_link.url.href %}
						{% if item.overlay_link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% elif item.overlay_link.url.type is equalto "PHONE_NUMBER" %}
						{% set href = "tel:" + href %}
						{% endif %}
						<a class="overlayLink"
							 {% if item.overlay_link.url.type is equalto "CALL_TO_ACTION"  %}
							 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
							 {% else %}
							 href="{{ href|escape_url }}"
							 {% endif %}
							 {% if item.overlay_link.open_in_new_tab %}
							 target="_blank"
							 {% endif %}
							 {% if item.overlay_link.rel %}
							 rel="{{ item.overlay_link.rel|escape_attr }}"
							 {% endif %}
							 >
						</a>
						{% endif %}
						{% if item.image.src %}
						<div class="card_img" style="background-image: url({{ item.image.src }})">
						</div>
						{% endif %}
						<div class="card_body">
							<div class="topCntt">
								<div class="card_meta">
									<div class="card_meta_tag">
										{% if item.tag.select_icon_type %}
										<span class="tag_icon ty{{item.tag.select_icon_type}}" {% if item.tag.select_icon_type == "icon" and item.tag.icon_field.name %}style="color: {{ item.tag.icon_color.rgba }}"	{% endif %}>
											{% if item.tag.select_icon_type == "image" and item.tag.image.src %}
											<img src="{{ item.tag.image.src }}" alt="{{ item.tag.image.alt }}">
											{% endif %}

											{% if item.tag.select_icon_type == "icon" and item.tag.icon_field.name %}
											{% icon
									name="{{ item.tag.icon_field.name }}"
									style="{{ item.tag.icon_field.type }}"
									unicode="{{ item.tag.icon_field.unicode }}"
									icon_set="{{ item.tag.icon_field.icon_set }}"
								%}
											{% endif %}
										</span>
										{% endif %}

										<span class="tag_name">
											{{ item.tag.tag_name }}
										</span>
									</div>

									{% if item.mark_podcast %}
									<div class="podcast_mmark">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
												<g clip-path="url(#clip0_2001_985)">
													<path d="M8.25 0.75C10.125 1.875 11.25 3.75 11.25 6C11.25 8.25 10.125 10.125 8.25 11.25M7.5 3.75C9 4.875 9 7.125 7.5 8.25M0.75 3.75V8.25H2.25L5.25 11.25V0.75L2.25 3.75H0.75Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></g>
												<defs>
													<clipPath id="clip0_2001_985">
														<rect width="12" height="12" fill="white"/>
													</clipPath>
												</defs>
											</svg>
										</span>
									</div>
									{% endif %}
								</div>

								<h4 class="title">
									{{ item.title }}
								</h4>

								{% if item.include_description %}
								<div class="description">
									{{ item.description }}
								</div>
								{% endif %}
							</div>
							<div class="btmCnt">
								{{ macros.singlebuttonGroup( item.button_group) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			{# #}

			{% if module.select_content_type == "hubdb" %}
			{% set table = module.select_table  %}
			{% set query = "orderBy=-hs_created_at"%}
			{% set limit = "&limit="~module.card_count  %}
			{% set rowData = hubdb_table_rows(table,query~limit) %}

			{% for item in rowData %}
			<div class="card_item {% cycle "odd","even"%} card{{loop.index}}">
				<div class="card_item_inner ">
					<div class="card_row {{ module.module_settings.card_theme_group.background_color }} {% if module.module_settings.card_theme_group.dark_theme %}lightCnt{% endif %}">
						<a  href="{{ item.link }}"  class="overlayLink"></a>
						{% if item.image.url %}
						<div class="card_img" style="background-image: url({{ item.image.url }})">
						</div>
						{% endif %}

						<div class="card_body">
							<div class="topCntt">
								<div class="card_meta">
									<div class="card_meta_tag">

										<span class="tag_icon tyimage">
											<img src="{{item.category_icon.url}}"/>
										</span>
										<span class="tag_name">
											{{ item.category.name }}
										</span>
									</div>

									{% if item.podcast_audio %}
									<div class="podcast_mmark">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
												<g clip-path="url(#clip0_2001_985)">
													<path d="M8.25 0.75C10.125 1.875 11.25 3.75 11.25 6C11.25 8.25 10.125 10.125 8.25 11.25M7.5 3.75C9 4.875 9 7.125 7.5 8.25M0.75 3.75V8.25H2.25L5.25 11.25V0.75L2.25 3.75H0.75Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></g>
												<defs>
													<clipPath id="clip0_2001_985">
														<rect width="12" height="12" fill="white"/>
													</clipPath>
												</defs>
											</svg>
										</span>
									</div>
									{% endif %}
								</div>

								<h4 class="title">
									{{ item.name }}
								</h4>

								{% if item.description %}
								<div class="description">
									{{ item.description }}
								</div>
								{% endif %}
							</div>

							<div class="btmCnt">
								<div class="btn_item">
									<a class="hs-arrow-btn " href="{{item.link}}">
										<span>{{ module.link_text }}</span> <span>→</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			{# #}
		</div>
	</div>

</div>
</section>







