@import "../../css/_module-imports";

.u4m-author-info {
  &.reverse-text {
    * {
      color: $white;
    }
  }
  .auth-img {
    margin-bottom: 30px;
  }

  .auth-img img {
    width: 40px;
  }

  .auth_title {
    margin-bottom: 9px;
  }
}
